#root {
  padding: 10px;
}
h2 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}
.meal-card {
  border: solid 1px black;
  border-radius: 10px;
  width: 27%;
  padding: 10px;
  margin: 5px;
  min-width: 200px;
  max-width: 200px;
}
.navLink,
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}
.btn {
  border: none;
  margin: 10px;
}

.navLink:hover,
.btn:hover {
  background-color: #0062cc;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #fff;
}
.footerContainer {
  margin-top: 20px;
  border: solid 1px black;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.footerIcon {
  display: flex;
  font-size: 30px;
  width: 50%;
  justify-content: space-between;
  margin-top: 10px;
}
.meal-title {
  color: black;
}

.meal-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
}

.reviews-container,
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
span {
  font-size: 15px;
}
.reciew-form {
  display: flex;
  flex-direction: column;
}
.meal-title {
  text-align: center;
}
